﻿@model IEnumerable<WhatShallWeWatch.Models.TVDB.TVDBSeries>

@{
    ViewBag.Title = "SearchResults";
}

<h2>SearchResults</h2>

<div class="column">
    <table>
        @foreach (WhatShallWeWatch.Models.TVDB.TVDBSeries series in Model)
        {
            <tr>
                <td>
                    <b>@Html.ActionLink(series.Title, "GetEpisodes", new { seriesId = series.SeriesId} )
                </td>
                <td>
                    @Html.DisplayFor(_ => series.Overview)
                </td>
            </tr>
        }
    </table>
</div>